* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 100px 20px;
    text-align: center;
}

#home {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    height: 100vh;
}

#home h1 span {
    color: yellow;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Projects */
.project-card {
    background: #f4f4f4;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    form {
        width: 90%;
    }
}
.section {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}